// Colors
$dark: #1e1e3f;
$indigo: #001775;
$green: #38D6B4;
$pink: #FF7CC2;
$yellow: #d0b628;
$blue: #547cff;
$red: #cb4155;
$purple: #514A8E;
$white: #ECE1F1;
$black: #16023D;


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap');

$font-family: 'Recursive', monospace;